* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.signup-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 10px;
}

.tweet-container-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tweet {
  border: 1px solid black;
}
